@model BrokkAndOdin.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

@foreach (var photo in Model.Photos)
{
    <a href="@photo.LargeUrl">
        <img src="@photo.ThumbnailUrl" alt="@photo.Title" title="@photo.Title" />
    </a>
}