@model BrokkAndOdin.ViewModels.NewsViewModel
@{
    ViewBag.Title = "News";
}

<section class="news">
    <h2>News</h2>
    @foreach (var news in Model.Updates)
    {
        <div>
            <label>@news.UpdateDateTime</label>
            <p>@Html.Raw(news.Description)</p>
        </div>
    }
</section>

