@model BrokkAndOdin.ViewModels.NewsViewModel
@{
    ViewBag.Title = "News";
}

@section styles{
    @Styles.Render("~/Content/news")
}

@section navBar{
    <div class="col-md-7 col-xs-2">
        &nbsp;
    </div>
}

<section class="news">
    <h2>News</h2>
    @foreach (var news in Model.Updates)
    {
        <div>
            <label>@news.UpdateDateTime</label>
            <p>@Html.Raw(news.Description)</p>
        </div>
    }
</section>

